<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BoDi" version="1.5.0" targetFramework="net48" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net48" />
  <package id="FluentAssertions" version="6.4.0" targetFramework="net48" />
  <package id="Gherkin" version="19.0.3" targetFramework="net48" />
  <package id="JetBrains.Annotations" version="2021.3.0" targetFramework="net48" />
  <package id="Microsoft.NET.Test.Sdk" version="15.0.0" targetFramework="net48" />
  <package id="Microsoft.TestPlatform.TestHost" version="15.0.0" targetFramework="net48" />
  <package id="MSTest.TestAdapter" version="2.2.8" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="2.2.8" targetFramework="net48" />
  <package id="NUnit" version="3.13.1" targetFramework="net48" />
  <package id="NUnit.Console" version="3.12.0" targetFramework="net48" />
  <package id="NUnit.ConsoleRunner" version="3.12.0" targetFramework="net48" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.6.0" targetFramework="net48" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.8.0" targetFramework="net48" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net48" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.7" targetFramework="net48" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.8.0" targetFramework="net48" />
  <package id="NUnit3TestAdapter" version="3.17.0" targetFramework="net48" />
  <package id="Selenium.Support" version="4.1.0" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.1.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="97.0.4692.7100" targetFramework="net48" />
  <package id="SpecFlow" version="3.9.40" targetFramework="net48" />
  <package id="SpecFlow.Internal.Json" version="1.0.8" targetFramework="net48" />
  <package id="SpecFlow.Tools.MsBuild.Generation" version="3.9.40" targetFramework="net48" />
  <package id="SpecRun.Runner" version="3.9.31" targetFramework="net48" />
  <package id="SpecRun.SpecFlow" version="3.9.31" targetFramework="net48" />
  <package id="SpecRun.SpecFlow.3-9-0" version="3.9.31" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net48" />
</packages>